.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  /* background-color: #393E46; */
  background-image: url("https://wallpapercave.com/wp/wp3502942.jpg");
height: 100%;
width:100%;
background-repeat: no-repeat;
background-size: cover;
justify-content: center;
align-items: center;
text-align: center;
background-attachment: fixed;
}

h1 {
  margin: 30px;
  font-size: 8rem;
  color: #fff;
  background-color: black;
  
  opacity: 1;
}

h2 {
  margin:10px;
  font-size: 5rem;
  color: #fff;
  background-color: black;
padding:5%;
  opacity: 1;
}

h3 {
  margin: 10px;
  font-size: 3rem;
  color: #fff;
  background-color: black;
  padding: 5%;
  opacity: 1;
}

h5 {
  margin: 10px;
  font-size: 3rem;
  color: #fff;
  background-color: black;
  padding: 0%;
  opacity: 1;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}